---
- name: upgrade and config iptables on server
  hosts: local_host
  connection: local
  
  tasks:
  
    - name: update iptables version
      apt: 
       name: iptables
       state: latest
       update_cache: yes  
    
    
    - name: enable only http/https/ssh connection
      iptables: 
        chain: INPUT
        protocol: tcp
        destination_port: 22,443,80
        jump: ACCEPT
